body {
    background-color: lightblue;
    text-align: center;
    height: 100%;
    font-family:verdana;
    background-image: url('background.jpg');
}

#top_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#flex-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#list {
    border-style: solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

button {
    background-color: #af2b2d; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

textarea {
    min-height: 5em;
    max-height: 50vh;
    width: 50%;
}